{% extends 'base.html.twig' %}

{% block title %}
	Edit Stagiaire!
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5 ">Ajoutez un nouveau stagiaire</h1>

	<div class="d-flex justify-content-center">
		<div class="m-5 border border-2 rounded">
			{{ form_start(form) }}


			<div class="d-flex justify-content-around m-3">
				<div class="mb-1">
					{{ form_label(form.nom) }}
				</div>

				<div class="form-floating mb-4">
					{{ form_widget(form.nom) }}
				</div>
			</div>

			<div class="d-flex justify-content-around m-3">
				<div class="mb-1">
					{{ form_label(form.prenom) }}
				</div>

				<div class="form-floating mb-4">
					{{ form_widget(form.prenom) }}
				</div>
			</div>

			<div class="d-flex justify-content-around m-3">
				<div class="mb-1">
					{{ form_label(form.telephone) }}
				</div>

				<div class="form-floating mb-4">
					{{ form_widget(form.telephone) }}
				</div>
			</div>

			<div class="d-flex justify-content-around m-3">
				<div class="mb-1">
					{{ form_label(form.adresse) }}
				</div>

				<div class="form-floating mb-4">
					{{ form_widget(form.adresse) }}
				</div>
			</div>

			<div class="d-flex justify-content-around m-3">
				<div class="mb-1">
					{{ form_label(form.diplome) }}
				</div>

				<div class="form-floating mb-4">
					{{ form_widget(form.diplome) }}
				</div>
			</div>

			<div class="d-flex justify-content-around m-3">
				<div class="mb-1">
					{{ form_label(form.contrat) }}
				</div>

				<div class="form-floating mb-4">
					{{ form_widget(form.contrat) }}
				</div>
			</div>

			<div class="m-3">
				<div class="mb-1">
					{{ form_label(form.photo) }}
				</div>

				<div class="form-label form-floating mb-4">
					{{ form_widget(form.photo) }}
				</div>
			</div>

			<div class="m-3">
				<div class="mb-1">
					{{ form_label(form.description) }}
				</div>

				<div class="form-floating mb-4 ">
					{{ form_widget(form.description) }}
				</div>
			</div>

			<div>
				{{ form_row(form.soumettre) }}
			</div>
			{{ form_end(form) }}
		</div>


	</div>
</div>{% endblock %}
