{% extends 'base.html.twig' %}

{% block title %}Accueil Stagiaire!
{% endblock %}

{% block body %}

	<div class="title ">
		<h1>Liste des stagiaires</h1>
	</div>
	<div class="example-wrapper container d-flex flex-wrap justify-content-around">
		{% for stagiaire in stagiaires %}

			<div class="card m-3 w-25" style="width: 18rem;">
				<img src=" {{ asset('photos/' ~ stagiaire.photo)}}" class="card-img-top mw-100" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{stagiaire.prenom}}
						{{stagiaire.nom}}</h5>
					<p class="card-text">{{ stagiaire.description }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item itemform">Adresse: {{ stagiaire.adresse }}</li>
					<li class="list-group-item">N°: {{ stagiaire.telephone }}</li>
					<li class="list-group-item">Diplôme: {{ stagiaire.diplome }}</li>
					<li class="list-group-item">Contrat: {{ stagiaire.contrat }}</li>
				</ul>
				<div class="card-body">
					<button type="button" class="btn btn-success">
						<a href="{{ path('show', {id: stagiaire.id})}}" class="card-link">Voir</a>
					</button>

					{% if is_granted("ROLE_ADMIN") %}
						<button type="button" class="btn btn-info">
							<a href="{{ path('edit', {id: stagiaire.id})}}" class="card-link">Éditer</a>
						</button>
						<button type="button" class="btn btn-danger">
							<a onclick="return confirm('Êtes-vous sur de vouloir supprimer ce profile ?')" href=" {{ path('delete', {id: stagiaire.id})}}" class="card-link">Supprimer</a>
						</button>
                        
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	{% if is_granted("ROLE_ADMIN") %}
		<div class="d-flex justify-content-end">
			<button class="btn btn-outline-danger m-5 ">
				<a href="{{ path('add_stg')}}" class="text-reset text-decoration-none">Ajouter un nouveau stagiaire +</button>
			</div>
		{% endif %}

	{% endblock %}
