{% extends 'base.html.twig' %}

{% block title %}Accueil Stagiaire!
{% endblock %}

{% block body %}

	<div class="title ">
		<h1>Liste des stagiaires</h1>
	</div>

	{# Chaque stagiaire sera présenter avec cette carte #}
	<div class="example-wrapper container d-flex flex-wrap justify-content-around">
		{% if nbstg %}
			<p>Aucun stagaires ne correspond à votre recherche!</p>

		{% else %}

			{% for stagiaire in stagiaires %}
				<div class="card m-3 w-25" style="width: 18rem;">
					<img src=" {{ asset('photos/' ~ stagiaire.photo)}}" class="card-img-top mw-100" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{stagiaire.prenom}}
							{{stagiaire.nom}}</h5>
						<p class="card-text">{{ stagiaire.description }}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item itemform">Adresse:
							{{ stagiaire.adresse }}</li>
						<li class="list-group-item">N°:
							{{ stagiaire.telephone }}</li>
						<li class="list-group-item">Diplôme:
							{{ stagiaire.diplome }}</li>
						<li class="list-group-item">Contrat:
							{{ stagiaire.contrat }}</li>
					</ul>

					{# Le bouton "VOIR" est centré dans la card lorsque les personnes autres qu'un ADMIN se connectent  #}
					{% if is_granted('ROLE_ADMIN') == false %}
						<div class="card-body text-center">
							<button type="button" class="btn btn-success w-75 text-center">
								<a href="{{ path('show', {id: stagiaire.id})}}" class="card-link ">VOIR
									<i class="far fa-eye"></i>
								</a>
							</button>

						{% endif %}


						{# Seuls les ADMIN peuvent voir les boutons "ÉDITER" et "SUPPRIMER" #}
						{% if is_granted("ROLE_ADMIN") %}
							<div class="card-body">
								<button type="button" class="btn btn-success">
									<a href="{{ path('show', {id: stagiaire.id})}}" class="card-link ">Voir
										<i class="far fa-eye"></i>
									</i>
								</a>
							</button>
							<button type="button" class="btn btn-info">
								<a href="{{ path('edit', {id: stagiaire.id})}}" class="card-link ">Éditer
									<i class="fas fa-pencil-alt"></i>
								</a>
							</button>
							<button type="button" class="btn btn-danger">
								<a onclick="return confirm('Êtes-vous sur de vouloir supprimer ce profile ?')" href=" {{ path('delete', {id: stagiaire.id})}}" class="card-link ">Supprimer
									<i class="fas fa-trash-alt"></i>
								</a>
							</button>
						{% endif %}

					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>

	{# Seuls les ADMIN peuvent ajouter un stagiaire #}
	{% if is_granted("ROLE_ADMIN") %}
		<div class="d-flex justify-content-end">
			<button class="btn btn-outline-danger m-5 ">
				<a href="{{ path('add_stg')}}" class="text-reset text-decoration-none">Ajouter un nouveau stagiaire
					<i class="fas fa-plus"></i>
				</button>
			</a>
		</div>
	{% endif %}


	{# Pagination #}
	<div class="d-flex justify-content-center mb-3">
		<span class="">{{ knp_pagination_render(stagiaires) }}</span>
	</div>

{% endblock %}
