{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}


{% block body %}
	<div class="mt-5">
		{{ form_start(contact_form) }}
        {# {{form_widget(contact_form)}} #}

		<div class="m-2">
			{{ form_row(contact_form.name, {'label': 'Nom d\'utilisateur', 'attr': {'class': 'input-group w-25 m-2', 'placeholder': 'Votre nom d\'utilisateur...' }}) }}
		</div>


		<div class="m-2">
			{{ form_row(contact_form.from, {'label': 'Adresse email', 'attr': {'class': 'input-group w-25 m-2', 'placeholder': 'Adresse email...' }}) }}
		</div>


		<div class="m-2">
			{{ form_row(contact_form.message, {'label': 'Message', 'attr': {'class': 'input-group w-25 m-2', 'placeholder': 'Votre message...' }}) }}
		</div>


		<div class="mx-2">
			<input type="submit" value="Envoyer" class="btn btn-success">
		</div>
		{{ form_end(contact_form) }}
	</div>
{% endblock %}

